{% extends "layout.html" %}
{% set page_name = "Admin Panel" %}
{% set page_info = "Vous êtes actuellement sur le panel Administrateur de l'application." %}
{% block content %}
    <div id="manage-users">
    <h2>Gérer les utilisateurs</h2>
    <h3>Créer un compte</h3>
    <form action="/admin/adduser?token={{ token }}" method="post">
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Mot de passe :</label><br>
        <input type="password" name="password" id="password" required><br>
        <label for="permission">Permission :</label><br>
        <input type="text" name="permission" id="permission" required><br>
        <input type="submit" value="Valider">
    </form>
    <h3>Supprimer un compte</h3>
    <form action="/admin/removeuser?token={{ token }}" method="post">
        <label for="id">Identifiant :</label><br>
        <input type="text" name="id" id="id" required><br>
        <input type="submit" value="Valider">
    </form>
    <h3>Modifier un compte</h3>
    <form action="/admin/updateuser?token={{ token }}" method="post">
        <label for="id">Identifiant :</label><br>
        <input type="text" name="id" id="id" required><br>
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" name="username" id="username" value="None" required><br>
        <label for="password">Mot de passe :</label><br>
        <input type="text" name="password" id="password" value="None" required><br>
        <label for="permission">Permission :</label><br>
        <input type="text" name="permission" id="permission" value="None" required><br>
        <input type="submit" value="Valider">
    </form>
    </div>
    <h2>Gérer les configurations</h2>
    <h3>Recharger une configuration</h3>
    <form action="/admin/reloadconfig?token={{ token }}" method="post">
        <label for="config">Nom :</label><br>
        <select name="name" id="name">
            <option value="config">CONFIG</option>
            <option value="permissions">PERMISSIONS</option>
            <option value="messages">MESSAGES</option>
          </select><br>
        <input type="submit" value="Valider">
    </form>
{% endblock %}